# ModelSim
transcript
vsim.wlf
work
*.mti
*.vstf
vsim*
wlf*
*.wlf
*.ini

# Quartus
db
incremental_db
output_files
simulation
greybox_tmp
*.qws
*.bak
*.jdi
*.pof
*.rpd
*.sof
*.done
*.pin
*.qdf
*.qsf
*.qpf
*.summary
*.smsg
*.qws
*.qrr
*.map.summary
*.fit.summary
*.sta.summary
*.qdf
*.qdz
*.qdb
*.qchk
*.qph
*.jdi
*.dpf
*.sld
*.qsf
*.qpf
*.summary
*.smsg
*.done
*.pin
*.qws
*.qrr
*.map.summary
*.fit.summary
*.sta.summary
*.qdf
*.qdz
*.qdb
*.qchk
*.qph
*.jdi
*.dpf
*.sld