# ModelSim
transcript
vsim.wlf
work
*.mti
*.vstf
vsim*
wlf*
*.wlf
*.ini

# Quartus
db
incremental_db
output_files
simulation
greybox_tmp
*.qws
*.bak
*.jdi
*.pof
*.rpd
*.sof
*.done
*.pin
*.qdf
*.qsf
*.qpf
*.summary
*.smsg
*.qws
*.qrr
*.map.summary
*.fit.summary
*.sta.summary
*.qdf
*.qdz
*.qdb
*.qchk
*.qph
*.jdi
*.dpf
*.sld
*.qsf
*.qpf
*.summary
*.smsg
*.done
*.pin
*.qws
*.qrr
*.map.summary
*.fit.summary
*.sta.summary
*.qdf
*.qdz
*.qdb
*.qchk
*.qph
*.jdi
*.dpf
*.sld
work/_vmake
work/_lib1_24.qtl
work/_lib1_24.qpg
work/_lib1_24.qdb
work/_lib1_20.qtl
work/_lib1_20.qpg
work/_lib1_20.qdb
work/_lib.qdb
work/_info
wlftjn06e8
Project.mpf
.$System Diagram.drawio.bkp
.gitignore
work/_info
work/_lib.qdb
work/_lib1_20.qdb
work/_lib1_20.qpg
work/_lib1_20.qtl
work/_vmake
